
RewriteEngine on


ErrorDocument 404 /404.html




RewriteCond %{HTTP_HOST} ^www.zonduo.com [NC]
RewriteRule ^(.*)$ http://zonduo.com/$1 [L,R=301]
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

