@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    /* --clr-main: #ff1497; */
    --clr-main: #ff1497;
    --clr-mainlight: #ff75c1;
    --clr-lightblack:#626262;
    --clr-black:#000000;
    --clr-dimwhite: #fff;
}
.bg_main {
  background-color: var(--clr-main);
}
.bg_lightdark {
  background-color: var(--clr-lightblack);
}

.text_dimwhite {
  color: var(--clr-dimwhite);
}

.agency_about_content {
    text-align: center;
    justify-content: center;
    padding: 0 58px 0 58px;
}

.text-color_h {
  letter-spacing: 1px;
  word-spacing: 2px;
    color: var(--clr-main);
}
.text-color {
    font-size: 18px;
    font-weight: 600;
}

@media (max-width:991.98px) {
 .agency_about_content {
  padding: 0 5px 0 5px;
}
}
/* our history */
.line_tit {
  border: 3px solid #5353538a;
  width: 370px;
}
.line_tit_right {
  border: 3px solid #5353538a;
  width: 370px;
  float: right;
}
/* model2 */
.line_tit_2 {
  border: 3px solid #000000;
  width: 35.9%;
}
.line_tit_right_2 {
  border: 3px solid #000000;
  width: 35%;
}
/* model2 */
.pxx{
  padding: 0 50px;
}

/* mobile view our history */

@media screen and (max-width:991.98px){
  .line_tit {
    width: 150px;
  }
  .line_tit_right {
    width: 150px;
  }
}
@media screen and (max-width:767px){
  .pxx{
    padding: 0 10px;
  }
  .line_tit {
    width: 100%;
    margin-bottom: 5px;
  }
  .line_tit_right {
    width: 100%;
    margin-top: 5px;
  }
}
/* our history */

/* what we do best */
.section_card {
  width: 30%;
  text-align: center;
  justify-content: center;
  padding: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.section_card:hover {
  background-color: var(--clr-lightblack);
  color: rgb(255, 255, 255);
  transform: scale(1.04);
  transition: transform 0.5s ease;
}


.section_card img {
  padding: 5px 5px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.section_title {
  margin-top: 0.5rem;
  font-style: italic;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

.bg-color-jp {
  background-color: #FF4976;
}
.bg-color-ip {
  background-color: #FF7A5B;
}
.bg-color-pha {
  background-color: #FFA84B;
}
.bg-color-sd {
  background-color: #F9F871;
}

/* mobile view */
@media screen and (max-width:767px){
  .section_title {
    font-size: 15px;
  }
}
@media screen and (max-width:425px){
  .section_card {
    padding: 40px 10px;
  }
  .section_title {
    font-size: 13px;
  }
  .section_card img {
    width: 40px;
    height: 40px;
  }
}
/* what we do best close*/

/* link_btn */
.btns a{
  margin: 0.5rem 0.5rem;
}
/* .button1 */
.button1 {
  color: var(--clr-main);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--clr-main);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button1:hover {
  color: var(--clr-dimwhite);
  background-color: var(--clr-main);
  transform: scale(1.05);
}
/* .button1 */

/* button2 */
.button2 {
  background-color: var(--clr-main);
  color: var(--clr-dimwhite);
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button2:hover {
  background-color: white;
  color: var(--clr-main);
  border: 1px solid var(--clr-main);
  transform: scale(1.05);
}
/* button2 */

/* botton2 */
/* .button3 */
.button3 {
  color: var(--clr-main);
  padding: 10px 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid var(--clr-main);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button3:hover {
  color: var(--clr-dimwhite);
  background-color: var(--clr-main);
  transform: scale(1.05);
}
/* .button3 */

/* botton4 */
.button4 {
  background-color: var(--clr-main);
  color: var(--clr-dimwhite);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 20px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button4:hover {
  background-color: white;
  color: var(--clr-main);
  border: 1px solid var(--clr-main);
  transform: scale(1.05);
}
/* .button4 */

.button5 {
  background-color: #25D366;
  color: var(--clr-dimwhite);
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button5:hover {
  background-color: white;
  color: #25D366;
  border: 1px solid #25D366;
  transform: scale(1.05);
}
.button6 {
  color: #25D366;
  border: 1px solid #25D366;
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button6:hover {
  background-color: #25D366;
  color: white;
  transform: scale(1.05);
}
.button7 {
  color: #25D366;
  border: 1px solid #25D366;
  padding: 10px 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button7:hover {
  background-color: #25D366;
  color: white;
  transform: scale(1.05);
}
.button8 {
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button8:hover {
  border: 1px solid #25D366;
  background-color: white;
  color: #25D366;
  transform: scale(1.05);
}

.button9 {
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border: 1px solid #25D366;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button9:hover {
  background-color: white;
  color: #25D366;
  border: 1px solid #25D366;
  background-color: white;
  transform: scale(1.05);
}
.button10 {
  background-color: white;
  color: #25D366;
  padding: 10px 20px;
  border: 1px solid #25D366;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button10:hover {
  background-color: #25D366;
  color: white;
  transform: scale(1.05);
}
.button11 {
  background-color: white;
  color: var(--clr-main);
  padding: 10px 20px;
  border: 1px solid var(--clr-main);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button11:hover {
  background-color: var(--clr-main);
  color: white;
  transform: scale(1.05);
}

.button12 {
  background-color: var(--clr-main);
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--clr-main);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:transform 0.3s ease-in-out;
}

.button12:hover {
  background-color: white;
  color: var(--clr-main);
  border: 1px solid var(--clr-main);
  background-color: white;
  transform: scale(1.05);
}


/* link_btn */

/* team card */
.employee-card {
  background-color: var(--clr-dimwhite);
  margin: 20px;
  border: 10px double var(--clr-main);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.employee-details {
  padding: 20px;
}

.employee-name {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}

.employee-position {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--clr-main);
  text-align: center;
  color: var(--clr-main);
  margin-bottom: 15px;
}

.achievement-list {
  list-style: none;
  padding: 0;
}

.achievement-item {
  margin-bottom: 8px;
}

.achievement-title {
  font-weight: bold;
}
/* team card */

/* timeline */
.under_line {
  border-bottom: 4px solid rgb(0, 0, 0);
  width: 400px;
  margin-left: 22rem;
}

.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 70px);
    margin: 0 5px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
}
.main-timeline .timeline-content{
    color: #555;
    background: #fff;
    min-height: 130px;
    padding: 30px 150px 30px 30px;
    border-top: none;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:before{
    content: "";
    background-color: var(--clr-main);
    height: 100%;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 45%;
    right: 16px;
}
.main-timeline .timeline-year{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: 60px;
}
.main-timeline .title{
    color: var(--clr-main);
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 14px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 30px 30px 30px 150px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: 60px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #FF4976; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #FF4976; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: #FF7A5B; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #FF7A5B; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #FFA84B; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #FFA84B; }
@media screen and (max-width:1199.98px){
  .under_line {
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 400px;
    margin-left: 16rem;
  }
}
@media screen and (max-width:991.98px){
  .under_line {
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 400px;
    margin-left: 9.5rem;
  }
}
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
    .under_line {
      border-bottom: 4px solid rgb(0, 0, 0);
      width: 350px;
      margin-left: 5rem;
    }
}
@media screen and (max-width:576px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 190px 25px 25px;
    }
    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        height: 100px;
        width: 100%;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        transform: translateY(0) translateX(-50%);
        top: 16px;
        left: 50%;
        right: auto;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateY(0) translateX(-50%);
        top: 110px;
        left: 50%;
        right: auto;
    }
    .under_line {
      border-bottom: 4px solid rgb(0, 0, 0);
      width: 310px;
      margin-left: 7rem;
    }
}

@media screen and (max-width:500px){
  .under_line {
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 300px;
    margin-left: 5rem;
  }
}
@media screen and (max-width:425px){
  .under_line {
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 200px;
    margin-left: 6.4rem;
  }
}
@media screen and (max-width:320px){
  .under_line {
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 160px;
    margin-left: 4.4rem;
  }
}

/* timeline close */



/* mobile view */
/* @media screen and (max-width:1199.98px){

}
@media screen and (max-width:991.98px){

}
@media screen and (max-width:767px){

}
@media screen and (max-width:576px){

}

@media screen and (max-width:500px){

}
@media screen and (max-width:425px){

}
@media screen and (max-width:320px){

} */
/* mobile view */


/* our vision */
.about-text {
  height: 100%;
  border-top: 15px solid var(--clr-main);
  border-left: 1px solid var(--clr-main);
  border-right: 1px solid var(--clr-main);
  border-bottom: 1px solid var(--clr-main);
  padding: 0 20px 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.our_vision {
  width: 5rem;
  padding: 1rem 1rem;
  background: var(--clr-main);
  border-radius: 50rem;
}
/* our vision close*/
