/* <!-- reaserch writing --> */

.content-researchwriting{
    margin-top: 100px;
}
.steps-heading{
   text-align: center;
}
.paragragh-researchwriting{
    margin-top: 40px;
}
.research-image{
    border-radius: 10px;
    height: 500px;
}
.researchwriting-steps{
    display: flex;
    flex-direction: row;
}


.researchwriting-steps h5{
    margin-left: 3px;
}
.stepsresearch-icon{
  width: 40px;
  margin-top: -5px;
}

/* end research writing */

/* start service provide */
.previous{
    color: #ff1494;
    margin-left: -220px;
}
.next{
    color: #ff1494;
    margin-left: 220px;
}
.service-provide{
    text-align: center;
    margin-top: 50px;
}
.heading-writing{
    margin-top: 50px;
}
.heading-writing h4{
    color: purple;
}

.servivce-row{
    margin-top: 50px;
}
/* end service provide */
/* <!-- start tip of research writing --> */
.tip-researchwriting{
    text-align: center;
    margin-top: 130px;
}
.card p{
    display: none;
}
.tips-row{
margin-top: 50px;
}
/* end  tip of research writing*/